<%if current_user && current_user.tweets.all.count > 0 %>
  <table id = "trends">
  	<tr>
  		<th>Topic</th>
  		<th>Count</th>
  	</tr>
    <% @hot_trends.each do |trend, count| %>
    	<tr>
      	<td class = "hot"><%= trend %></td>
      	<td class = "hot"><%= count %></td>
      </tr>
    <% end %>
    <% @warm_trends.each do |trend, count| %>
      <tr>
        <td class = "warm"><%= trend %></td>
        <td class = "warm"><%= count %></td>
      </tr>
    <% end %>
    <% @cold_trends.each do |trend, count| %>
      <tr>
        <td class = "cold"><%= trend %></td>
        <td class = "cold"><%= count %></td>
      </tr>
    <% end %>
  </ol>
<% end %>